<div class="container">
    <form [formGroup]="formProduto" (ngSubmit)="enviarProduto()">
        <div>
            <label>Código:</label>
            <input type="text" formControlName="codigo">
        </div>
        <div>
            <label>Descrição:</label>
            <input type="text" formControlName="descricao">
        </div>
        <div>
            <label>Reg. Anvisa:</label>
            <input type="text" formControlName="regAnvisa">
        </div>
        <div>
            <input type="checkbox" formControlName="controlado">
            <label>Controlado</label>
        </div>
        <div>
            <label>Código do Produto</label>
            <input type="text" formControlName="codGrupo">
        </div>
        <button>Cadastrar</button>
    </form>
</div>